/*GENERAL*/

html{
	font-size: 16px;
}

body{
	color: #fff;
}

a{
	color: #000000;
}

button{
	cursor: pointer;
	color: #ffffff;
	background:#00a13a;
}

button:hover{
	cursor: pointer;
	color: #00a13a;
	border-radius: .25rem;
	background: #ffffff;
	border: 1px solid #00a13a;
}

button:focus{
	box-shadow:none;
}



/*HEADER*/

.header{
	position: fixed;
	width: 100%;
	min-height: 100px;
	background: #fff;
	color: #333;
	z-index:1;
}

.header-container{
	padding-bottom:15px;
	padding-top:15px;
	border-bottom: 3px solid #d1d1c6;
}

.header-container .row{
	height:100%;
}

.menu-item{
	padding-right: 45px;
	color: #16202d;
	font-size: 18px;
	font-weight: 700;
}

a:hover{
	color: #16202d;
}

.service-links{
	text-align: center;
}

.service-links-icon{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	color: #ffffff;
	background:#00a13a;
	cursor: pointer;
	transition: .5s;
	margin: 0 0 0 auto;
}

.service-links-icon:hover{
	color: #00a13a;
	background:#ffffff;
}

.service-links i{
	font-size: 20px;
	padding-top: 7px;
}

/*MAIN*/

.main{
	min-height: 300px;
	background: #fff;
	color: #9b9b9b;
	padding-top: 140px;
}

.product-container>*{
	width: 100%;
}

.product-filters{
	display: none;
}

.product-gallery{
	margin-bottom: 20px;
	padding-left: 30px;
}

.product{
	min-height: 430px;
	padding-top: 15px;
	height: 100%;
	font-size: 0.8rem;
	border: 1px solid #ecece6;
	border-radius: 3px;
	margin-bottom: 40px;
}

.product:la

.product-img{
	margin-bottom: 15px;
}

.product-img img{
	width: 100%;
}

.product-price{
	font-size: 1rem;
	color: #000;
	font-weight:700;
}

.product-price_currency{
	padding-left: 7px;
}

.pagination{
	margin-bottom:30px;
}

.pagination li {
	display: inline-block;
	vertical-align: top;
	line-height: 2.3;
	margin-right: 10px;
}
.pagination li:nth-child(n-1) {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.pagination li:first-child {
	margin-right: 25px;
}

.pagination li:last-child {
	margin-left: 15px;
}

.pagination li:first-child i {
	margin-right: 15px;
}

.pagination li:last-child i {
	margin-left: 10px;
}

.pagination a {
	display: block;
	width: 35px;
	height: 35px;
	text-align: center;
	border-radius: 0;
	border: 1px solid #ecece6;
	color: #000;
}

.pagination li:first-child a,
.pagination li:last-child a {
	width: 117px;
	height: 35px;
	text-align: center;
	border-radius: 3px;
}

.pagination a:hover{
	text-decoration: none;
	color: #00a13a;
}



/*FOOTER*/

.footer{
	height: 150px;
	background: #ffffff;
	color: #fff;
	text-align: left;
	/*position: fixed;*/
	/*bottom: 0;*/
}

.footer-container{
	background: url("/images/bg-footer.svg") left bottom;
	height: 100%;
	position: relative;
}

.copyright{
	position: absolute;
	bottom:20px;
	text-align: center;
	color: #000;
	font-size: .8rem;
}

